<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:h2:mem:my-enterprise-project-test;INIT=CREATE SCHEMA IF NOT EXISTS pizzeria</property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.transaction.jta.platform">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping class="by.davlar.hibernate.entity.Role"/>
        <mapping class="by.davlar.hibernate.entity.User"/>
        <mapping class="by.davlar.hibernate.entity.Address"/>
        <mapping class="by.davlar.hibernate.entity.Pizza"/>
        <mapping class="by.davlar.hibernate.entity.Order"/>
        <mapping class="by.davlar.hibernate.entity.OrderEntry"/>
    </session-factory>
</hibernate-configuration>