<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:action="@{/user/{id}/update(id=${user.id})}" enctype="multipart/form-data" method="post" th:object="${user}">
    <label for="login">Login:
        <input id="login" type="text" name="login" placeholder="Enter login" th:value="*{login}">
    </label><br>
    <label for="password">Password:
        <input id="password" type="text" name="password" placeholder="Enter password" th:value="*{password}">
    </label><br>
    <label for="birthday">Birthday:
        <input id="birthday" type="date" name="birthday" th:value="*{birthday}">
    </label><br>
    <label for="lastName">Lastname:
        <input id="lastName" type="text" name="lastName" th:value="*{lastName}">
    </label><br>
    <label for="firstName">Firstname:
        <input id="firstName" type="text" name="firstName" th:value="*{firstName}">
    </label><br>
    <label for="telephone">Telephone:
        <input id="telephone" type="text" name="telephone" th:value="*{telephone}">
    </label><br>
    <div th:if="*{image}">
        <img th:src="@{/api/v2/users/{userId}/avatar(userId=*{id})}" alt="User image">
    </div>
    <label for="image">Image:
        <input id="image" type="file" name="image">
    </label><br>
    <div th:each="role : ${roles}">
        <input th:id="${role.id}" type="radio" name="role" th:value="${role.name}"
               th:checked="${role.name == user.role.name}">
        <label th:for="${role.id}" th:text="${role.name}">Role name</label>
    </div>
    <button type="submit">Update</button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
<!--<form th:action="@{/user/{id}/delete(id=${user.id})}"-->
<!--      th:if="${session.user.role.isAdmin AND session.user.id != user.id}" method="post">-->
<!--    <button type="submit">Remove</button>-->
<!--</form>-->
</body>
</html>